# Unsupervised Learning

Agenda:
- Clustering and K-means clustering
- Dimensionality reduction and PCA

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
def make_plot(df, k1, k2, hue=None):
    ax = sns.scatterplot(data=df, x='petal_length', y='petal_width', hue=hue)

    if k1 is not None:
        plt.scatter(k1[0], k1[1], color='lightgreen', marker='X', s=100, label='Cluster 1')
    if k2 is not None:
        plt.scatter(k2[0], k2[1], color='red', marker='X', s=100, label='Cluster 2')

    plt.xlabel('petal_length')
    plt.ylabel('petal_width')

    return ax

In [3]:
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=[name.replace(' (cm)', '').replace(' ', '_') for name in iris.feature_names])
df['flower'] = pd.Categorical.from_codes(iris.target, categories=iris.target_names)

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width     flower
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]